/* line 4, assets/scss/vc_modules/headers_transparent/header_5_transparent.scss */
.transparent_header .right_buttons .stm_lms_wishlist_button i {
  color: #fff; }

/* line 8, assets/scss/vc_modules/headers_transparent/header_5_transparent.scss */
.transparent_header .right_buttons .search-toggler {
  border-color: #fff;
  color: #fff; }
